.navbar {
  

  a {
    text-decoration: none;
  } 
  background-color: rgb(196, 255, 218);
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;

  .Logo {
    margin-left: 30px;
    left: 0;
  }
  .leftgroup {
    position: absolute;
    left: 20px; 
  }
  .rightgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    position: absolute;
    right: 20px;
    
  }
}
